.project
.pydevproject
pegasus.properties
wf-output
wf-scratch
workflow.yml

# Output
output.*
output_*

# Data
datalife_stats*/

# Workflow Output
*.bt2
*.fastq
*.tar.gz
*.bam
*.bam.bai

# IDE
.mypy_cache/
.vscode/
.idea/

# OS
.DS_Store